*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to left, #2E2B2B, grey);
  font-family: arial;
}
.banner-text{
  width: 100%;
  position: absolute;
  color: #FFFFFF;
}
.banner-text ul{
  height: 50px;
  float: right;
}
.banner-text ul li{
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
}

.banner-text p{
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 10%
}
.banner-text h1{
  text-align: center;
  color: #FFFFFF;
  font-size: 80px;
  margin-top: 1%;
  float: center;
}
.animation{
  background: linear-gradient(to left, #2E2B2B, grey);
  width: 100%;
  height: 100vh;
}
.wrappergrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 300px;
  margin-left: auto;
  padding-left: 100px;
}
.wrappergrid img{
  height: 120%;
  width: 80%;
  margin-left: auto;

}
/*iframe video*/
.wrapper{
    margin: 0 auto;
    width: 1000px;
    padding-left: 100px;
}

videowrapper{

    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding-left: 100px;

}
