*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to left, #2E2B2B, grey);
  font-family: arial;
}
/*menubar*/
.banner-text{
  width: 100%;
  position: absolute;
}
.banner-text ul{
  height: 50px;
  float: right;
}
.banner-text ul li{
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
}
.banner-text h2{
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  margin-top: 20%;
  float: center;
}
.animation{
  width: 100%;
  height: 200vh;
}
/*logo*/
.logo{
  margin-left: -100px;
}

/*bunden til siden*/
footer{
  background: black;
  height: 50px;
  width: 100%;
  color: white;
}
.wrappergrid img{
  height: 20%;
  width: 20%;

}
